<!DOCTYPE html>
<html  ng-app="myApp">
  <head>
    <!--build:css css/application.min.css-->
    <link rel="stylesheet" href="css/application.css">
    <!--endbuild-->
  </head>
  <body>
    <div id="container" ng-controller="MainCtrl">
      <div id="crossword-box">        
        <div id="grid" ng-style="gridStyle">
          <div ng-repeat="cell in gridData track by $index" class="grid-cell" ng-class="{'disabled' : cell.empty}" ng-style="cellStyle">
            <span ng-if="!cell.empty">{{cell.number}}</span>
            <input type="text" size="1" maxlength="1" ng-if="!cell.empty" ng-model="cell.value" />
          </div>          
        </div>
      </div>
      <div id="hint-box">
        <h4>ACROSS</h4>
        <ul>
          <li ng-repeat="hint in data.across">{{hint.number}}. {{hint.desc}} ({{hint.length}})
        </ul>
        <h4>DOWN</h4>
        <ul>
          <li ng-repeat="hint in data.down">{{hint.number}}. {{hint.desc}} ({{hint.length}})
        </ul>
      </div>
    </div>
    <!--build:js js/main.min.js -->
    <script src="js/index.js"></script>
    <!-- endbuild -->
  </body>
</html>